* {
  font-family: 'Poppins', sans-serif;
}

.query-selector {
  background-color: #DFF2EB;
  padding: 16px;
}

.query-selector-title,
.query-history-title {
  color: #333;
  margin-bottom: 12px;
  font-size: 1.2rem;
  border-bottom: 2px solid #4A628A; 
  padding-bottom: 8px;
}

.sidebar-heading {
  font-size: 1.5rem;
  color: #4A628A;
  top: 0;
  /* z-index: 10; */
  /* margin-bottom: 40px; */
  background-color: #DFF2EB;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 600;
}

.query-selector-buttons {
  display: flex;
  flex-wrap: wrap;
  max-height: 30vh;
  overflow: auto;
  gap: 10px;
  margin-bottom: 20px;
}

.query-selector-button {
  background-color: #7AB2D3;
  color: black;
  font: bold;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.query-selector-button:hover {
  background-color: #7AB2D3; 
}

.query-history-section {
  flex-grow: 1;
  background-color: #DFF2EB;
  /* padding: 12px; */
  overflow-y: auto; 
  max-height: 35vh;
  overflow: auto;
  /* min-height: 200px; */
  display: flex;
  flex-direction: column;
}

.query-history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.clear-history-button {
  background-color: #7AB2D3;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.clear-history-button:hover {
  background-color: #4A628A;
}

.query-history-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.query-history-item {
  background-color: #7AB2D3;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 5px 10px;
  color: black;
}

.query-history-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.query-history-text {
  flex-grow: 1;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.history-add-button {
  background-color: #4A628A;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.history-add-button:hover {
  background-color: #324753;
}

.query-history-empty {
  /* text-align: center; */
  color: black;
  padding: 10px;
  background-color: #DFF2EB;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .query-selector-buttons {
    flex-direction: column;
  }
  .query-history-section {
    width: 100%;
  }
  .query-selector {
    width: calc(100vw - 40px);
    margin: auto;
  }
  .query-selector-button {
    width: 100%;
  }
  .query-history-content {
    flex-direction: column;
    align-items: stretch;
  }
  .query-history-text {
    display: flex;
    flex-wrap: wrap;
  }
  .history-add-button {
    margin-top: 10px;
    width: 100%;
  }
}
