/* File 3: Result Table Styles */
* {
  font-family: 'Poppins', sans-serif;
}

.result-table {
  margin-top: 20px;
  height: 30vh;
  overflow: auto;
}

.main-result-table {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 43vh;
  justify-content: space-between;
}

.table-wrapper {
  width: 100%;
}

.result-table-table {
  min-width: 300px;
  border-collapse: collapse;
}

.result-table-header,
.result-table-cell {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.result-table-header {
  background-color: #B9E5E8; /* primary accent */
  font-weight: 600;
}

.result-table-row:hover {
  background-color: #7AB2D3; /* complementary hover effect */
}

.result-table-footer {
  margin-top: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#4A628A ;
}

.result-table-export {
  padding: 8px 12px;
  background-color: #B9E5E8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.result-table-export:hover {
  background-color: #7AB2D3;
}

@media screen and (max-width: 768px) {
  .result-table {
    margin-top: 20px;
    height: 95vh;
    overflow: auto;
  }
  .main-result-table {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
  }
}
