* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

.app-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  gap: 10px;
  
}

.sidebar {
  background-color: #f0f0f0;
  grid-column: 1;
  grid-row: 1;
}


.sidebar-heading {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #007acc;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff; 
  margin-bottom: 15px;
  padding: 10px 0;
  text-align: center;
  color: var(--accent-primary);
  font-size: 1.5rem;
  font-weight: 600;
}


.main-content {
  padding: 20px;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  overflow: auto;
  /* overflow: hidden; */
  display: block;
  gap: 20px;
}

.right-top {
  background-color: #e0e0e0;
  grid-column: 2;
  grid-row: 1;
}

.right-bottom {
  background-color: #d0d0d0;
  grid-column: 2;
  grid-row: 2;
  overflow: auto;
  
}

@media screen and (max-width: 768px) {
  .app-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .sidebar {
    grid-column: 1;
    grid-row: 1;
  }

  .right-top {
    grid-column: 1;
    grid-row: 2;
  }

  .right-bottom {
    grid-column: 1;
    grid-row: 3;   
    display: block;
    padding: 20px;
    text-align: left;
    border: 1px solid #ccc;
  }

  .sidebar,
  .right-top,
  .right-bottom {
    padding: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 18px;
    border: 1px solid #ccc;
  }
}
