/* File 4: Global and Layout Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body,
html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

.app-container {
  height: 100vh;
  display: flex;
  overflow: hidden;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100vh;
}

.sidebar {
  background-color: #DFF2EB; /* primary accent for sidebar */
  min-width: 200px;
  max-width: 390px;
  grid-column: 1;
  grid-row: 1;
}

.main-content {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  gap: 10px;
}

.right-top {
  overflow: hidden;
  background-color: #4A628A; 
  grid-column: 2;
  grid-row: 1;
  height: 50%;
}

.right-bottom {
  background-color: #7AB2D3; 
  grid-column: 2;
  grid-row: 2;
  overflow: auto;
  height: 50%;

}

@media screen and (max-width: 768px) {
  .app-container {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .sidebar {
    grid-column: 1;
    grid-row: 1;
    max-width: fit-content;
  }
  .right-top {
    grid-column: 1;
    grid-row: 2;
  }
  .right-bottom {
    grid-column: 1;
    grid-row: 3;
    height: fit-content;
    padding: 20px;
    text-align: left;
    border: 1px solid #ccc;
  }
  .main-content {
    height: fit-content;
    overflow: hidden;
  }
  .app-container {
    overflow: auto;
  }
  .sidebar,
  .right-top,
  .right-bottom {
    padding: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 18px;
    border: 1px solid #ccc;
  }
}
